:root {
  --color-background: #161616;
  --color-text: #f6f6f6;
  --main-accent: #8478ff;
  --main-accent-darker: #6153fe;
}

p {
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px 20px 10px 20px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 10px 10px 10px 10px;
}

.logo-svg {
  transition: 0.5s;
  fill: var(--main-accent);
}

.logo-svg:hover {
  fill: var(--main-accent-darker);
  cursor: pointer;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.nav-bar-button {
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  border: 2px solid var(--main-accent);
  border-radius: 100px;
  background: none;
  color: var(--main-accent);
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.nav-bar-button:hover {
  border: 2px solid var(--main-accent-darker);
  color: var(--main-accent-darker);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.welcome-block {
  height: 180px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-message {
  font-size: 2.5rem;
  padding: 35px 0px 20px 0px;
  font-weight: 700;
}

.sub-message {
  font-size: 1.2rem;
}

/* .maintenance-message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  height: 100%;
  width: 100%;
} */

/* .maintenance-message {
  font-size: 3em;
  text-align: center;
} */

/* .error-message {
  color: rgb(207, 24, 24);
} */

/* #theme-toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
} */

/* .login-box {
  display: flex;
  gap: 10px;
} */

/* #theme-toggle-button svg {
  width: 24px;
  height: 24px;
} */

/* .input-field {
  height: 30px;
  border-radius: 30px;
  padding: 15px;
  background-color: #2f2f2f;
  color: #8478ff;
  border: none;
} */

.standard-button {
  height: 30px;
  width: 100px;
  border-radius: 30px;
  color: #8478ff;
  background-color: #251d7d;
  border: none;
}

.standard-button:hover {
  height: 30px;
  width: 100px;
  border-radius: 30px;
  color: #8478ff;
  background-color: #372cab;
  border: none;
}

.standard-button:focus {
  height: 30px;
  width: 100px;
  border-radius: 30px;
  color: #8478ff;
  background-color: #1c1660;
  border: none;
}