:root {
  --color-background: #161616;
  --color-background-ligther: #303030;
  --color-background-white: #fff;
  --color-text: #f6f6f6;
  --main-accent: #6153fe;
  --main-accent-lighter: #8176ff;
  /*09eb1c un bel verde*/ 
}

/* Questo sarà applicato alla barra di scorrimento verticale */
::-webkit-scrollbar {
  width: 4px;   /* Larghezza della barra di scorrimento verticale */
}

/* Questo sarà applicato alla barra di scorrimento orizzontale */
::-webkit-scrollbar {
  height: 12px;   /* Altezza della barra di scorrimento orizzontale */
}

/* Questo sarà applicato al "tracciato" o sfondo della barra di scorrimento */
::-webkit-scrollbar-track {
  background: var(--color-background);
}

/* Questo sarà applicato alla "maniglia" o parte mobile della barra di scorrimento */
::-webkit-scrollbar-thumb {
  background: var(--main-accent); 
  border-radius: 100px;
}

/* Cambia colore della "maniglia" al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-accent-lighter);
}

p {
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px 20px 10px 20px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 10px 10px 10px 10px;
}

.logo-svg {
  transition: 0.5s;
  fill: var(--main-accent);
}

.logo-svg:hover {
  fill: var(--main-accent-lighter);
  cursor: pointer;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 10px 10px 10px;
}

.nav-bar a {
  transition: 0.5s;
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.8rem;
}

.nav-bar a:hover {
  color: var(--main-accent-lighter);
}

.nav-bar-button {
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  border: 2px solid var(--main-accent);
  border-radius: 100px;
  background: none;
  color: var(--main-accent);
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.nav-bar-button:hover {
  border: 2px solid var(--main-accent-lighter);
  color: var(--main-accent-lighter);
}

.main-content {
  background-color: var(--main-accent);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.welcome-block {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  text-align: center;
}

.main-message {
  font-size: 2.5rem;
  padding: 0px 0px 20px 0px;
  font-weight: 700;
}

.sub-message {
  font-size: 1.2rem;
}

.greetings-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-align: center;
  height: 400px;
}

.greetings {
  font-size: 1.6rem;
  padding: 0px 0px 25px 0px;
  font-weight: 700;
}

.greeting-message {
  font-size: 1.2rem;
  line-height: 2.1rem;
}


.over-bg-main-content {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-top: -50px;
  margin-bottom: 50px;
}

.card {
  width: 100%;
  background-color:var(--color-background) ;
  border: 1px solid var(--color-background-ligther);
  padding: 30px;
}

.radius-top{
  border-radius: 12px 12px 0px 0px;
}

.radius-bottom{
  border-radius: 0px 0px 12px 12px;
}

.card p {
  line-height: 1.8rem;
}

.card p span {
  color: var(--main-accent);
  font-weight: 700;
}

@media screen and (max-width: 768px) {

  .welcome-block {
    height: 300px;
    width: 90%;
  }  
  .main-message {
    font-size: 2.0rem;
    padding: 0px 0px 20px 0px;
    font-weight: 700;
  }
  
  .sub-message {
    font-size: 1.2rem;
  }
  .greetings-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 30px;
  }
  .greetings {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
  }
  .greeting-message {
    font-size: 0.9rem;
    line-height: 1.8rem;
    text-align: center;
  }
  .cards-wrapper {
    width: 80%;
  }
}


/* .maintenance-message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  height: 100%;
  width: 100%;
} */

/* .maintenance-message {
  font-size: 3em;
  text-align: center;
} */

/* .error-message {
  color: rgb(207, 24, 24);
} */

/* #theme-toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
} */

/* .login-box {
  display: flex;
  gap: 10px;
} */

/* #theme-toggle-button svg {
  width: 24px;
  height: 24px;
} */

/* .input-field {
  height: 30px;
  border-radius: 30px;
  padding: 15px;
  background-color: #2f2f2f;
  color: #8478ff;
  border: none;
} */
