:root {
  --color-background-dark-1: #161616;
  --color-background-dark-2: #212121;
  --color-background-dark-3: #303030;
  --color-background-dark-4: #111111;
  --color-background-dark-5: #000000;
  --color-background-white-1: #fff;
  --color-text: #f6f6f6;
  --main-accent: #6153fe;
  --main-accent-lighter: #8176ff;
  --main-accent-light: #a79fff;
  /*09eb1c un bel verde*/ 
}

/* Questo sarà applicato alla barra di scorrimento verticale */
::-webkit-scrollbar {
  width: 4px;   /* Larghezza della barra di scorrimento verticale */
}

/* Questo sarà applicato alla barra di scorrimento orizzontale */
::-webkit-scrollbar {
  height: 12px;   /* Altezza della barra di scorrimento orizzontale */
}

/* Questo sarà applicato al "tracciato" o sfondo della barra di scorrimento */
::-webkit-scrollbar-track {
  background: var(--color-background-dark-1);
}

/* Questo sarà applicato alla "maniglia" o parte mobile della barra di scorrimento */
::-webkit-scrollbar-thumb {
  background: var(--main-accent-lighter); 
  border-radius: 100px;
}

/* Cambia colore della "maniglia" al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-accent-lighter);
}

p {
  margin: 0;
}

body {
  background-color: var(--color-background-dark-1);
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --s: 100px; /* control the size */
  --c1: var(--color-background-dark-4);
  --c2: var(--color-background-dark-1);
  --c3: var(--color-background-dark-2);
  
  --_g: var(--c3) 0 120deg,#0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
}

footer {
  /* height: 250px; */
  background-color: var(--main-accent);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px 20px 0px 20px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 10px 10px 10px 10px;
}

.logo-svg {
  transition: 0.5s;
  fill: var(--main-accent);
}

.logo-svg:hover {
  fill: var(--main-accent-lighter);
  cursor: pointer;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 10px 10px 10px;
}

.nav-bar a {
  transition: 0.5s;
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.8rem;
}

.nav-bar a:hover {
  color: var(--main-accent-lighter);
}

.nav-bar-button {
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  border: 2px solid var(--main-accent);
  border-radius: 100px;
  background: none;
  color: var(--main-accent);
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.nav-bar-button:hover {
  border: 2px solid var(--main-accent-lighter);
  color: var(--main-accent-lighter);
}

.button {
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  border-radius: 100px;
  background-color: var(--main-accent);
  color: var(--color-background-dark-1);
  width: 200px;
  height: 58px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}

.button:focus {
  transform: scale(0.9);
}

.main-content {
  background-color: var(--main-accent);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.welcome-block {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  text-align: center;
}

.main-message {
  font-size: 2.5rem;
  padding: 0px 0px 20px 0px;
  font-weight: 700;
}

.sub-message {
  font-size: 1.2rem;
}

.greetings-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-align: center;
  height: 400px;
}

.greetings {
  font-size: 1.6rem;
  padding: 0px 0px 25px 0px;
  font-weight: 700;
}

.greeting-message {
  font-size: 1.2rem;
  line-height: 2.1rem;
}


.over-bg-main-content {
  background-color: var(--color-background-dark-1);
  --s: 100px; /* control the size */
  --c1: var(--color-background-dark-4);
  --c2: var(--color-background-dark-1);
  --c3: var(--color-background-dark-2);
  
  --_g: var(--c3) 0 120deg,#0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-top: -50px;
  margin-bottom: 100px;
}

.card {
  width: 100%;
  background-color:var(--color-background-dark-1) ;
  border: 1px solid var(--color-background-dark-3);
  padding: 30px;
}

.radius-top{
  border-radius: 12px 12px 0px 0px;
}

.radius-bottom{
  border-radius: 0px 0px 12px 12px;
}

.card p {
  line-height: 1.8rem;
}

.card p span {
  color: var(--main-accent);
  font-weight: 700;
}

.last-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 220px;
  background-color: var(--color-background-dark-1);
  border: 1px solid var(--color-background-dark-3);
  text-align: center;
  border-radius: 16px;
  margin-top: -70px;;
  padding: 30px;
}

.last-card p:first-child {
  font-size: 1.6rem;
  margin-bottom: 24px;
}

.last-card p {
  font-size: 1rem;
  margin-bottom: 24px;
}
.bottom-infos {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 0.8rem;
}

.footer-block {
  margin: 35px 0px 35px 0px;
  padding: 15px;
  white-space: nowrap;
}

.icons {
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.footer-block p {
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.copyright-bar {
  text-align: center;
  padding: 25px 0px 35px 0px;
}

@media screen and (max-width: 768px) {

  .welcome-block {
    height: 300px;
    width: 90%;
  }  
  .main-message {
    font-size: 2.0rem;
    padding: 0px 0px 20px 0px;
    font-weight: 700;
  }
  
  .sub-message {
    font-size: 1.2rem;
  }
  .greetings-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 30px;
  }
  .greetings {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
  }
  .greeting-message {
    font-size: 0.9rem;
    line-height: 1.8rem;
    text-align: center;
  }
  .cards-wrapper {
    width: 100%;
  }
  .card {
    width: 80%;
  }
  .last-card {
    width: 80%;
  }
  .footer-block {
    display: flex;
    flex-direction: column;
    margin: 0px;
    white-space: nowrap;
  }
  .bottom-infos {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
  }
  .copyright-bar {
    font-size: 0.8rem;
  }
}